{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common_cate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/setting.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">


    <!-- 캘린더 관련 부분 -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/simple-calendar.css' %}">
    <!-- //end -->


</head>
<body>
    <div class="container">
        <div class="outer">
            <!--상단부-->
            <div class="top_nav">
                <!-- <p>상단 네비게이션</p> -->
                <!-- 왼쪽 -->
                <div id="box-left">
                    <a href="{% url 'home' %}">
                        <img class="img_logo" src="{% static 'image/로고2.png'%}" >
                    </a>
                    
                </div>
                <!-- 중앙 -->
                <div id='box-center'>         
                    <form>
                        <input class="input_button" type="image" src="{% static 'image/find.png'%}" alt="Submit" >
                        <input class = "input_box" type="text" placeholder="search">
                    </form>               
                </div>
                <!-- 오른쪽 -->
                <div id='box-right' style="font-family:'a옛날목욕탕L'">
                    <ul>
                        <li><a href="#" style="font-family:'a옛날목욕탕L'">회원가입</a></li>
                        <li><a href="#" style="font-family:'a옛날목욕탕L'">로그인</a></li>
                        <li><a ><img src="{%static 'image/profile.png'%}" width="30" height="30"></a>
                            <ul><br>
                                <li><a href="{% url 'profile'%}" style="font-size:20px;"><img src="{%static 'image/avatar (1).png'%}" width="25px" height="25px">프로필</a><br><br></li>

                                <li><a href="{% url 'help'%}" style="font-size:20px;"><img src="{%static 'image/question (1).png'%}" width="25px" height="25px">도움말</a></li>
                                <li><a href="{% url 'setting'%}" style="font-size:20px;"><img src="{%static 'image/settings (1).png'%}" width="25px" height="25px">설정</a></li>
                                <li><a href="#" style="font-size:20px;"><img src="{%static 'image/log-out.png'%}" width="25px" height="25px">로그아웃</a></li>
                                <br><br>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
        </div>
            <div class="content">
                <!--왼쪽 부분(nav)-->
                <div class="left_part">
                        <div class="row">
                            <div class="column">
                                <div class="about_us">
                                    <h1>헬스미 헬프미 :)</h1>
                                </div>
                            </div>
                            <div class="column">
                                <nav>
                                    <ul class="left_nav">
                                        <li class="left_nav_item">
                                            <a href="{% url 'home' %}">
                                                <!-- <img src="image/home.png" alt=""> -->
                                                 Home</a> <!--홈화면으로 href-->
                                        </li>
                                        <li class="left_nav_item">
                                            <a href="{% url 'cate_trend' %}">Category</a> <!--카테고리 화면으로 href-->
                                        </li>
                                        <li class="left_nav_item">
                                            <a href="{% url 'schedule' %}">Schedule</a> <!--스케쥴 화면으로 href-->
                                        </li>
                                        <li class="left_nav_item">
                                            <a href="{% url 'setting' %}">Setting</a> <!--설정 화면으로 href-->
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>