{% extends 'base.html' %}
{%block title %}-CATE{% endblock %}
{% block content %}

<!--오른쪽 부분-->
<div class="right_part">
    <div class="gory">
        <div class="category_name">
            <h3>카테고리</h3>
            <br>
        </div>
        <!-- 파랑색 메뉴 -->
        <div id="category_menu" style="font-family:'a옛날목욕탕L'">
            <ul>
                <li class="place top_on">#장소</li>
                <li class="parts">#부위별</li>
                <li class="genre">#장르</li>
                <li class="level">#난이도</li>
                <li class="trend">#트렌드</li>
                <li class="diet">#다이어트</li>
                <li class="howto">#기구사용법</li>

            </ul>
        </div>
    </div>

    <div>
        <!-- 핑크색 메뉴 -->
        <div id="bottom_category" style="font-family:'a옛날목욕탕L'">
            <div>
                <ul class="place_sub">
                    <li class="place_sub1 sub_on">#회사에서</li>
                    <li class="place_sub2">#침대에서</li>
                    <li class="place_sub3">#공원에서</li>
                </ul>
            </div>
            <div class="video_Box">
                <div class="place_sub1_video">
                    <!--PART1-->
                    <div class="cate">
                        <div class="cate_name">
                            <span style="display: inline-block; font-size: 23px;">#회사에서</span>
                            <span
                                style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#플랭크운동</span>
                            <br><br>

                        </div>
                        <div class="cate_box">
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/iNdDN4GKtHk"><img
                                            src="http://i.ytimg.com/vi/iNdDN4GKtHk/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>5분 플랭크!<br>
                                        최대 2줄까지 표시 가능!</p>
                                    <!--그 후에는 ...으로 줄여주세요~ -->
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/oapL4ktZ3y0"><img
                                            src="http://i.ytimg.com/vi/oapL4ktZ3y0/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>초보 플랭크!<br>
                                        최대 2줄까지 표시 가능!</p>
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/B--6YfhmBGc"><img
                                            src="http://i.ytimg.com/vi/B--6YfhmBGc/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>가장 완벽한 플랭크 자세!<br>
                                        The Fitness Marshall</p>
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/RKJHisWyejc"><img
                                            src="http://i.ytimg.com/vi/RKJHisWyejc/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>하루 7분 전신운동으로 뱃살파괴!<br>
                                        플랭크 30일 챌린지!</p>
                                </div>
                            </div>
                        </div>

                        <hr width="100%" size="0.5" color="#c7c7c7">
                        <!--PART2 #트랜드운동 #PiYo-->
                        <div class="cate">
                            <div class="cate_name">
                                <span style="display: inline-block; font-size: 23px;">#트렌드운동</span>
                                <span
                                    style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#PiYo</span>
                                <br><br>

                            </div>
                            <div class="cate_box">
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/KFZh2L_yKSI"><img
                                                src="http://i.ytimg.com/vi/KFZh2L_yKSI/maxresdefault.jpg"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>필라테스+요가! PiYO<br>
                                            |가즈아~~~~</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://youtu.be/UBMk30rjy0o"><img
                                                src="http://i.ytimg.com/vi/UBMk30rjy0o/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>예예예 PiYO<br>
                                            헬스 초보를 위한 완벽가이드</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/DYSsimWEyhM"><img
                                                src="http://i.ytimg.com/vi/DYSsimWEyhM/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>PiYO<br>
                                            운동방법 설명</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/O8yKDEsXq1s"><img
                                                src="http://i.ytimg.com/vi/O8yKDEsXq1s/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>PiYO<br>
                                            라운드숄더 교정루틴</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr width="100%" size="0.5" color="#c7c7c7">
                        <!--PART3 #트렌드운동 #타바타운동 -->
                        <div class="cate">
                            <div class="cate_name">
                                <span style="display: inline-block; font-size: 23px;">#트렌드운동</span>
                                <span
                                    style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#타바타
                                    운동</span>
                                <br><br>

                            </div>
                            <div class="cate_box">
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/Vz4D3DXGyU0"><img
                                                src="http://i.ytimg.com/vi/Vz4D3DXGyU0/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p> 추다가 죽을뻔한<br>
                                            2주에 10kg 빼기 춤</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/BL8kwdj-XWU"><img
                                                src="http://i.ytimg.com/vi/BL8kwdj-XWU/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>상식파괴&지방파괴<br>
                                            전신운동</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/5DeojduKXfI"><img
                                                src="http://i.ytimg.com/vi/5DeojduKXfI/maxresdefault.jpg"
                                                alt="운동영상"></a>

                                    </div>
                                    <div class="video_title">
                                        <p>채지방 태워버리기<br>
                                            (feat.타바타)</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/A8FhYFw5RAg"><img
                                                src="http://i.ytimg.com/vi/A8FhYFw5RAg/maxresdefault.jpg"
                                                alt="운동영상"></a>

                                    </div>
                                    <div class="video_title">
                                        <p>섹시 식스팩 2주만에 만들기<br>
                                            -우왕</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="place_sub2_video">
                    <!--PART1-->
                    <div class="cate">
                        <div class="cate_name">
                            <span style="display: inline-block; font-size: 23px;">#침대에서</span>
                            <span
                                style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#플랭크운동</span>
                            <br><br>

                        </div>
                        <div class="cate_box">
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/iNdDN4GKtHk"><img
                                            src="http://i.ytimg.com/vi/iNdDN4GKtHk/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>5분 플랭크!<br>
                                        최대 2줄까지 표시 가능!</p>
                                    <!--그 후에는 ...으로 줄여주세요~ -->
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/oapL4ktZ3y0"><img
                                            src="http://i.ytimg.com/vi/oapL4ktZ3y0/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>초보 플랭크!<br>
                                        최대 2줄까지 표시 가능!</p>
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/B--6YfhmBGc"><img
                                            src="http://i.ytimg.com/vi/B--6YfhmBGc/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>가장 완벽한 플랭크 자세!<br>
                                        The Fitness Marshall</p>
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/RKJHisWyejc"><img
                                            src="http://i.ytimg.com/vi/RKJHisWyejc/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>하루 7분 전신운동으로 뱃살파괴!<br>
                                        플랭크 30일 챌린지!</p>
                                </div>
                            </div>
                        </div>

                        <hr width="100%" size="0.5" color="#c7c7c7">
                        <!--PART2 #트랜드운동 #PiYo-->
                        <div class="cate">
                            <div class="cate_name">
                                <span style="display: inline-block; font-size: 23px;">#트렌드운동</span>
                                <span
                                    style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#PiYo</span>
                                <br><br>

                            </div>
                            <div class="cate_box">
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/KFZh2L_yKSI"><img
                                                src="http://i.ytimg.com/vi/KFZh2L_yKSI/maxresdefault.jpg"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>필라테스+요가! PiYO<br>
                                            |가즈아~~~~</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://youtu.be/UBMk30rjy0o"><img
                                                src="http://i.ytimg.com/vi/UBMk30rjy0o/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>예예예 PiYO<br>
                                            헬스 초보를 위한 완벽가이드</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/DYSsimWEyhM"><img
                                                src="http://i.ytimg.com/vi/DYSsimWEyhM/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>PiYO<br>
                                            운동방법 설명</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/O8yKDEsXq1s"><img
                                                src="http://i.ytimg.com/vi/O8yKDEsXq1s/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>PiYO<br>
                                            라운드숄더 교정루틴</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr width="100%" size="0.5" color="#c7c7c7">
                        <!--PART3 #트렌드운동 #타바타운동 -->
                        <div class="cate">
                            <div class="cate_name">
                                <span style="display: inline-block; font-size: 23px;">#트렌드운동</span>
                                <span
                                    style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#타바타
                                    운동</span>
                                <br><br>

                            </div>
                            <div class="cate_box">
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/Vz4D3DXGyU0"><img
                                                src="http://i.ytimg.com/vi/Vz4D3DXGyU0/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p> 추다가 죽을뻔한<br>
                                            2주에 10kg 빼기 춤</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/BL8kwdj-XWU"><img
                                                src="http://i.ytimg.com/vi/BL8kwdj-XWU/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>상식파괴&지방파괴<br>
                                            전신운동</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/5DeojduKXfI"><img
                                                src="http://i.ytimg.com/vi/5DeojduKXfI/maxresdefault.jpg"
                                                alt="운동영상"></a>

                                    </div>
                                    <div class="video_title">
                                        <p>채지방 태워버리기<br>
                                            (feat.타바타)</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/A8FhYFw5RAg"><img
                                                src="http://i.ytimg.com/vi/A8FhYFw5RAg/maxresdefault.jpg"
                                                alt="운동영상"></a>

                                    </div>
                                    <div class="video_title">
                                        <p>섹시 식스팩 2주만에 만들기<br>
                                            -우왕</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="place_sub3_video">
                    <!--PART1-->
                    <div class="cate">
                        <div class="cate_name">
                            <span style="display: inline-block; font-size: 23px;">#공원에서</span>
                            <span
                                style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#플랭크운동</span>
                            <br><br>

                        </div>
                        <div class="cate_box">
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/iNdDN4GKtHk"><img
                                            src="http://i.ytimg.com/vi/iNdDN4GKtHk/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>5분 플랭크!<br>
                                        최대 2줄까지 표시 가능!</p>
                                    <!--그 후에는 ...으로 줄여주세요~ -->
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/oapL4ktZ3y0"><img
                                            src="http://i.ytimg.com/vi/oapL4ktZ3y0/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>초보 플랭크!<br>
                                        최대 2줄까지 표시 가능!</p>
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/B--6YfhmBGc"><img
                                            src="http://i.ytimg.com/vi/B--6YfhmBGc/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>가장 완벽한 플랭크 자세!<br>
                                        The Fitness Marshall</p>
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/RKJHisWyejc"><img
                                            src="http://i.ytimg.com/vi/RKJHisWyejc/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>하루 7분 전신운동으로 뱃살파괴!<br>
                                        플랭크 30일 챌린지!</p>
                                </div>
                            </div>
                        </div>

                        <hr width="100%" size="0.5" color="#c7c7c7">
                        <!--PART2 #트랜드운동 #PiYo-->
                        <div class="cate">
                            <div class="cate_name">
                                <span style="display: inline-block; font-size: 23px;">#트렌드운동</span>
                                <span
                                    style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#PiYo</span>
                                <br><br>

                            </div>
                            <div class="cate_box">
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/KFZh2L_yKSI"><img
                                                src="http://i.ytimg.com/vi/KFZh2L_yKSI/maxresdefault.jpg"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>필라테스+요가! PiYO<br>
                                            |가즈아~~~~</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://youtu.be/UBMk30rjy0o"><img
                                                src="http://i.ytimg.com/vi/UBMk30rjy0o/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>예예예 PiYO<br>
                                            헬스 초보를 위한 완벽가이드</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/DYSsimWEyhM"><img
                                                src="http://i.ytimg.com/vi/DYSsimWEyhM/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>PiYO<br>
                                            운동방법 설명</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/O8yKDEsXq1s"><img
                                                src="http://i.ytimg.com/vi/O8yKDEsXq1s/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>PiYO<br>
                                            라운드숄더 교정루틴</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr width="100%" size="0.5" color="#c7c7c7">
                        <!--PART3 #트렌드운동 #타바타운동 -->
                        <div class="cate">
                            <div class="cate_name">
                                <span style="display: inline-block; font-size: 23px;">#트렌드운동</span>
                                <span
                                    style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#타바타
                                    운동</span>
                                <br><br>

                            </div>
                            <div class="cate_box">
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/Vz4D3DXGyU0"><img
                                                src="http://i.ytimg.com/vi/Vz4D3DXGyU0/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p> 추다가 죽을뻔한<br>
                                            2주에 10kg 빼기 춤</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/BL8kwdj-XWU"><img
                                                src="http://i.ytimg.com/vi/BL8kwdj-XWU/maxresdefault.jpg"
                                                alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>상식파괴&지방파괴<br>
                                            전신운동</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/5DeojduKXfI"><img
                                                src="http://i.ytimg.com/vi/5DeojduKXfI/maxresdefault.jpg"
                                                alt="운동영상"></a>

                                    </div>
                                    <div class="video_title">
                                        <p>채지방 태워버리기<br>
                                            (feat.타바타)</p>
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://www.youtu.be/A8FhYFw5RAg"><img
                                                src="http://i.ytimg.com/vi/A8FhYFw5RAg/maxresdefault.jpg"
                                                alt="운동영상"></a>

                                    </div>
                                    <div class="video_title">
                                        <p>섹시 식스팩 2주만에 만들기<br>
                                            -우왕</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js"></script>
<script>

    // $(function() {
    //     $(window).load(function() {
    //         $(".place").trigger("click");
    //         $(".place_sub1").trigger("click");
    //     });

    // });

    $(document).ready(function () {
        // # 처음 시작 세팅을 강제 클릭으로 만들게요
        // --끝




        $('#category_menu ul li').click(function () {
            $(this).addClass('top_on').siblings().removeClass('top_on');
        });
        $('#bottom_category ul li').click(function () {
            $(this).addClass('sub_on').siblings().removeClass('sub_on');
        });

        // # 장소
        $('.place').click(function () {
            // $(this).addClass('top_on').siblings().removeClass('top_on');
            $('.place_sub').show().siblings().hide();
        });
        $('.place_sub1').click(function () {
            $('.place_sub1_video').show().siblings().hide();
        });
        $('.place_sub2').click(function () {
            $('.place_sub2_video').show().siblings().hide();
        });
        $('.place_sub3').click(function () {
            $('.place_sub3_video').show().siblings().hide();
        });


    });

</script>


{% endblock %}