
{% extends 'base.html' %}
{%block title %}-CATE{% endblock %}
{% block content %}

<!--오른쪽 부분-->
<div class="right_part">
                    <div class="gory">
                        <div class="category_name">
                            <h3>카테고리</h3>
                            <br>
                        </div>
                        <form action="{% url 'cate_trend' %}">
                            <input type="radio" name = 'sport_category' value='trend' id='trend'>trend
                            <input type="submit" value="go!">
                        </form>
                        <div id="category_menu" style="font-family:'a옛날목욕탕L'">
                            <ul>
                                <li class="on"><a href="cate_trend.html">#트렌드 운동</a></li>
                                <li><a href="#">#난이도별</a></li>
                                <li><a href="#">#장르</a></li>
                                <li><a href="#">#부위별로</a></li>
                                <li><a href="#">#헬스기구사용법</a></li>
                                <li><a href="#">#단기 다이어트</a></li>
                                <li><a href="#">#장소별</a></li>
                            </ul>
                        </div>
                    </div>
                    <br><br>


                    <!--PART1 #트렌드운동 #플랭크운동-->

                    {% for catefilter in category_filter %}
                    <div class="cate">
                        <div class="cate_name">
                            <span style="display: inline-block; font-size: 23px;">{{category}}</span>
                            <span style="display: inline-block; background-color: rgb(200, 162, 246, 0.71); font-size: 23px;">#플랭크운동</span>
                            <br><br>

                        </div>
                        <div class="cate_box">
                            <div id="video">
                                <div class="video_thumnail">
                                        <a href="https://youtu.be/iNdDN4GKtHk"><img src="http://i.ytimg.com/vi/iNdDN4GKtHk/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>5분 플랭크!<br>
                                    최대 2줄까지 표시 가능!</p><!--그 후에는 ...으로 줄여주세요~ -->
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

</div>

{% endblock %}