{% extends 'base2.html' %}
{% load static %}
{%block title %}-CATE{% endblock %}
{% block content %}
    <!--
    [0802 AM 01:57 detail.html설명]
    현재 디테일페이지는 : home에 '추다가 죽을뻔한 2주에 10kg빼기 춤'에 대한 디테일 페이지입니다! -> 근데 이 영상 iframe이 지원 안되요.... 왜지????
    백에서 다룰때에는 : 영상url을 넘겨서 detail페이지 .main_video 부분을 채워야할 것 같아요!! -->



                <!--오른쪽 부분-->
                <div class="right_part">
                    <div class="main_video">
                        <iframe width="956" height="538" src="https://www.youtube.com/embed/{{ url }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <!-- <iframe width="956" height="538" src="https://www.youtube.com/embed/P8CDv4dgHEM" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe> -->
                        <div class="main_video_info">
                            <div class="main_video_chan">
                                <!-- 영상 채널 프로필사진 -->
                            </div>
                            
                            <div class="main_video_title">
                                <p>디노 레전드 스트레칭!</p>
                            </div>

                            <div class="heart"> <!-- 내가 픽한 영상에 들어가게 될 영상을 고르는 하트 버튼! 아직 mypick()함수 구현 안됨-->
                                <input class="mypick" type="button" name="heart" onclick="mypick()">
                            </div>
                        </div>
                    </div>

                    <div class="function">
                        <script>
                            // <!-- 스탑워치
                            var currentsec = 0;
                            var currentmin = 0;
                            var currentmil = 0;
                            var keepgoin = false;
                            function timer() {
                                if (keepgoin) {
                                    currentmil += 1;
                                    if (currentmil == 10) {
                                        currentmil = 0;
                                        currentsec += 1;
                                    }
                                    if (currentsec == 60) {
                                        currentsec = 0;
                                        currentmin += 1;
                                    }
                                    Strsec = "" + currentsec;
                                    Strmin = "" + currentmin;
                                    Strmil = "" + currentmil;
                                    if (Strsec.length != 2) {
                                        Strsec = "0" + currentsec;
                                    }
                                    if (Strmin.length != 2) {
                                        Strmin = "0" + currentmin;
                                    }
                                    document.display.seconds.value = Strsec
                                    document.display.minutes.value = Strmin;
                                    document.display.milsecs.value = Strmil;
                                    setTimeout("timer()", 100);
                                }
                            }
                            function startover() {
                                keepgoin = false;
                                currentsec = 0;
                                currentmin = 0;
                                currentmil = 0;
                                Strsec = "00";
                                Strmin = "00";
                                Strmil = "00";
                            }
                         // --끝>
                        </script>

                        <div class="watch">

                            <form name="display" onreset="startover()">
                                <table class="table">
                                    <!-- style="background-color: #8b79af; border-radius: 50px; width: 300px; height: 100px;"> -->
                                    <tbody>
                                        <!-- <tr> <td class="comment" colspan="3" style="text-align: center; font-size: 23px; padding-top:10px;"> 운동 시작한지 </td></tr> -->
                                        <tr>
                                            <td colspan="3" style="justify-content: center;">
                                                <div class="timenum">
                                                    <!-- style="font-size:35px; color:white; border-radius: 100px;"> -->
                                                    <input class="num" type="text" name="minutes" value="00" size="3">
                                                    <!-- style="height:30px;border:0;font-size:40px;width:70px;color:white;background:#8b79af; border-radius: 100px;"> -->
                                                    :
                                                    <input class="num" type="text" name="seconds" value="00" size="3">
                                                    <!-- style="height:30px;border:0;font-size:40px;width:70px;color:white;background:#8b79af;border-radius: 100px;"> -->
                                                    :
                                                    <input class="num milsec" type="text" name="milsecs" value="0"
                                                        size="3">
                                                    <!-- style="height:30px;border:0;font-size:40px;width:70px;color:white;background:#8b79af; border-radius: 100px;"> -->
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="timer_but">
                                            <!-- <div class="timer_but"> -->
                                            <td>
                                                <input class="start timer_button" type="button" name="start"
                                                    onclick="keepgoin=true;timer()">
                                                <input class="pause timer_button" type="button" name="pause"
                                                    onclick="keepgoin=false;">
                                                <input class="reset timer_button" type="reset" name="reset" value="">
                                                <input class="save timer_button" type="button" name="save">

                                            </td>
                                            <!-- <td>
                                                    <input class="start timer_button" type="button" name="start"
                                                        onclick="keepgoin=true;timer()">
                                                </td>
                                                <td>
                                                    <input class="pause timer_button" type="button" name="pause"
                                                        onclick="keepgoin=false;">
                                                </td>
                                                <td>
                                                    <input class="reset timer_button" type="reset" name="reset" value="">
                                                </td>
                                                <td>
                                                    <input class="save timer_button" type="button" name="save">
                                                </td> -->
                                            <!-- </div> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </form>

                        </div>
                        <div id="container" class="calendar-container"></div>
                        <!--밑에 캘린더 관련 스크립트가 돌면서 자동으로 달력 생성되요!-->
                    </div>

                    <!-- <div class="comu">
                        나중에 댓글기능(커뮤니티기능) 있으면 여기에!
                    </div> -->



                </div>


    <!-- 캘린더 구현 관련 script부분 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.simple-calendar.js' %}"></script>
    <!-- //end -->
    <script>
        $(document).ready(function () {
            $('#play-video').on('click', function (ev) {
                $("#video")[0].src += "&autoplay=1";
                ev.preventDefault();
            });
            $("#container").simpleCalendar({
                fixedStartDay: false,
                events: ['2019-08-17', '2018-08-20', '2018-08-21']
                // [0802 AM03:53 캘린더 구현 설명]
                // 현재는 직접 이벤트를 등록해야 반영이 된다!!! 
                // 그리고 날짜를 클릭하면 comfirm창이 뜨면서 '출석체크 하시겠습니까?'에 확인을 누르면 색깔이 .event 클래스가 있는 얘들처럼 변하는데, 
                // 그게 실질적으로 events:[~~] 안에 저장은 안되서 새로고침하면 변경 사항이 반영이 안돼.
                // 이 부분 백이랑 어떻게 엮을지 모르겠어서 일단 이정도만 구현했습니다!
            });
        });
    </script>
{% endblock %}