{% extends 'base.html' %}

{% block content %}
                <!--오른쪽 부분-->
                <div class="right_part">
                    <!--PART1 오늘의 영상-->
                    <div class="cate">
                        <div class="cate_name">
                            <h3>오늘의 영상</h3>
                        </div>
                        <div class="cate_box">
                            <div id="video">
                                <div class="video_thumnail">
                                        <a href="https://www.youtube.com/embed/VVn5IUM8sms"><img src="http://i.ytimg.com/vi/VVn5IUM8sms/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>다노 레전드 스트레칭<br>
                                    최대 2줄까지 표시 가능!</p><!--그 후에는 ...으로 줄여주세요~ -->
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://www.youtube.com/embed/VNQpP6C1fJg"><img src="http://i.ytimg.com/vi/VNQpP6C1fJg/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>땅끄부부 30분 운동<br>
                                        최대 2줄까지 표시 가능!</p> 
                                </div>
                            </div>
                            <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://youtu.be/f6wm2g682JM"><img src="http://i.ytimg.com/vi/f6wm2g682JM/maxresdefault.jpg" alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>Me Too | Dance Workout<br>
                                            The Fitness Marshall</p> 
                                    </div>
                            </div>
                            <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://youtu.be/7BF4L54IOBs"><img src="http://i.ytimg.com/vi/7BF4L54IOBs/maxresdefault.jpg" alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>오영주의 힙업 운동 루틴<br>
                                            최대 2줄까지 표시 가능!</p> 
                                    </div>
                            </div>
                        </div>
                    </div>
                    <hr width="100%" size="0.5" color="#c7c7c7">
                    <!--PART2 인기 동영상-->
                    <div class="cate">
                        <div class="cate_name">
                            <h3>인기 동영상</h3>
                        </div>
                        <div class="cate_box">
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/8U89oCO5Gg4"><img src="http://img.youtube.com/vi/8U89oCO5Gg4/mqdefault.jpg"></a>
                                <!--이 영상같은 경우는 영상 썸네일이 maxresdefault.jpg가 지원이 되지 않아요-->
                                <!--https://webdir.tistory.com/472 이 사이트에서 영상 썸네일 품질 종류 참고 하시길-->
                                </div>
                                <div class="video_title">
                                    <p>어깨운동루틴 6가지<br>
                                        | 넓은 어깨를 위한 운동 루틴</p> 
                                </div>
                            </div>
                            <div id="video">
                                <div class="video_thumnail">
                                    <a href="https://youtu.be/LFUg1FjMDls"><img src="http://i.ytimg.com/vi/LFUg1FjMDls/maxresdefault.jpg" alt="운동영상"></a>
                                </div>
                                <div class="video_title">
                                    <p>3분할 운동 루틴<br>
                                    헬스 초보를 위한 완벽가이드</p> 
                                </div>
                            </div>
                            <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://youtu.be/k5F8iSn2vcA"><img src="http://i.ytimg.com/vi/k5F8iSn2vcA/maxresdefault.jpg" alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>5분할 등운동 루틴<br>
                                        운동방법 설명</p> 
                                    </div>
                            </div>
                            <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://youtu.be/qMtyhDDmJ-U"><img src="http://i.ytimg.com/vi/qMtyhDDmJ-U/maxresdefault.jpg" alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>빡빡이 아저씨<br>
                                        라운드숄더 교정루틴</p> 
                                    </div>
                            </div>
                        </div>
                    </div>
                    <hr width="100%" size="0.5" color="#c7c7c7">
                    <!--PART3 저의 개인 취향이 듬뿍 담긴 다이어트 댄스~!~! -->
                    <div class="cate">
                            <div class="cate_name">
                                <h3>춤추면서 살을 빼볼까요?💃</h3>
                            </div>
                            <div class="cate_box">
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="detail.html"><img src="http://i.ytimg.com/vi/P8CDv4dgHEM/maxresdefault.jpg" alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p> 추다가 죽을뻔한<br>
                                            2주에 10kg 빼기 춤</p> 
                                    </div>
                                </div>
                                <div id="video">
                                    <div class="video_thumnail">
                                        <a href="https://youtu.be/6kuAVUrnGgg"><img src="http://i.ytimg.com/vi/6kuAVUrnGgg/maxresdefault.jpg" alt="운동영상"></a>
                                    </div>
                                    <div class="video_title">
                                        <p>빌리 아일리시<br>
                                            Bad Guy로 다이어트 댄스</p> 
                                    </div>
                                </div>
                                <div id="video">
                                        <div class="video_thumnail">
                                            <a href="https://youtu.be/dZbPtAgofwI"><img src="http://i.ytimg.com/vi/dZbPtAgofwI/mqdefault.jpg" alt="운동영상"></a>
                                            
                                        </div>
                                        <div class="video_title">
                                            <p>줌바댄스 1000칼로리 소비<br>
                                            (feat.하성운댄스)</p> 
                                        </div>
                                </div>
                                <div id="video">
                                        <div class="video_thumnail">
                                            <a href="https://youtu.be/T2EhE7XT1-w"><img src="http://i.ytimg.com/vi/T2EhE7XT1-w/maxresdefault.jpg" alt="운동영상"></a>
                                            
                                        </div>
                                        <div class="video_title">
                                            <p>Friend like me<br>
                                            -윌 스미스</p> 
                                        </div>
                                </div>

                            </div>
                        </div>
                </div>
{% endblock %}