{% extends 'base.html' %}
{%block title %}-CATE{% endblock %}
{% block content %}

<!--오른쪽 부분-->
<div class="right_part">
                    <!-- profile.help.setting 한번에 -->
                    <div class="section_set">
                        <ul>
                            <li><a href="{% url 'profile' %}">profile</a></li>
                            <li><a href="{% url 'help' %}">help</a></li>
                            <li class="on"><a href="{% url 'setting' %}">setting</a></li>
                        </ul>
                        
                    </div>
                    <!-- setting -->
                    <div class="setting" style="font-family:'a옛날목욕탕L'">
                        <div class="in_setting">
                            <h1>계정 세부정보</h1>
                            <hr class="set_hr">
                            <br>
                            <a>비밀번호변경하기</a>
                            <br><br>
                            <a>언어변경하기</a> 
                            <br><br><br><br><br><br>
                        </div>
                        <div class="in_setting">
                            <h1>알림</h1>
                            <hr class="set_hr">
                            <br>
                            <a>알림 전자메일 주기 변경</a>
                            <br><br>
                            <a>바탕화면 알림 허용</a> 
                            <br><br><br><br><br><br>
                        </div>
                        <div class="in_setting">
                            <h1>마케팅 이메일</h1>
                            <hr class="set_hr">
                            <br>
                            <a>마켓팅이메일 허용</a>
                            <br><br><br><br><br><br>
                        </div>
                   
                    </div>
</div>

{% endblock %}