{% extends 'base.html' %}
{%block title %}-CATE{% endblock %}
{% block content %}

<!--오른쪽 부분-->
<div class="right_part">
                    <!-- profile.help.setting 한번에 -->
                    <div class="section_set">
                        <ul>
                            <li><a href="{% url 'profile' %}">profile</a></li>
                            <li class="on"><a href="{% url 'help' %}">help</a></li>
                            <li ><a href="{% url 'setting' %}">setting</a></li>
                        </ul>
                        
                    </div>
                    <!-- help -->
                    <div class="help" style="font-family:'12롯데마트드림Light'">
                        <div class="in_help">
                            <h1 style="font-family:'a옛날목욕탕L'">자주하는 질문 list!</h1>
                            <hr class="set_hr">
                            <P style="font-size: 25px">Q. 설문조사는 어디에서 할 수 있나요?</P>
                            <P style="font-size: 25px">A. 최초 회원가입시, (선택)설문조사 단계에서 설문조사가 진행됩니다.</P>
                            <br><br>
                            <P style="font-size: 25px">Q. 스케줄 페이지에서 관리할 수 있는 영상은 총 몇 개인가요?</P>
                            <P style="font-size: 25px">A. free버전으로 최대 3개의 영상을 스크랩할 수 있습니다.</P>
                            <br><br>
                            <P style="font-size: 25px">Q. 스케줄 페이지에서 영상을 삭제하려면 어떻게 해야하나요?</P>
                            <P style="font-size: 25px">A. 상단의 유저이미지->프로필에서 삭제가능합니다.</P>
                            <br><br>
                            <P style="font-size: 25px">Q. 유저 설문조사는 어디에서 할 수 있나요?</P>
                            <P style="font-size: 25px">A. 최초 회원가입시, (선택)설문조사 단계에서 설문조사가 진행됩니다.</P>



                            
   
                        </div>                      
                    </div>
</div>

                
{% endblock %}
