<!DOCTYPE html>
<html lang="en">
<head>
    <title>뚜비두밥메인페이지</title>
    
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="jiyoung_dev/setting.css">

</head>
<body>
    <div class="container">
        <div class="outer">
            <!--상단부-->
            <div class="top_nav">
                <!-- <p>상단 네비게이션</p> -->
                <!-- 왼쪽 -->
                <div id="box-left">
                    <a href="home.html">
                        <img class="img_logo" src="image/logo.png" >
                    </a>
                    
                </div>
                <!-- 중앙 -->
                <div id='box-center'>         
                    <form>
                        <input class="input_button" type="image" src="image/find.png" alt="Submit" >
                        <input class = "input_box" type="text" placeholder="search">
                    </form>               
                </div>
                <!-- 오른쪽 -->
                <div id='box-right' style="font-family:'a옛날목욕탕L'">
                        <ul>
                            <li><a href="#" style="font-family:'a옛날목욕탕L'">회원가입</a></li>
                            <li><a href="#" style="font-family:'a옛날목욕탕L'">로그인</a></li>
                            <li><a ><img src="image/profile.png" width="30" height="30"></a>
                                <ul><br>
                                    <li><a href="section_set_profile.html" style="font-size:20px;"><img src="jiyoung_dev\img\avatar (1).png" width="25px" height="25px">프로필</a><br><br></li>
    
                                    <li><a id = "standard" href="#" style="font-size:20px;"><img src="jiyoung_dev\img\question (1).png" width="25px" height="25px">도움말</a></li>
                                    <li><a href="#" style="font-size:20px;"><img src="jiyoung_dev\img\settings (1).png" width="25px" height="25px">설정</a></li>
                                    <li><a href="#" style="font-size:20px;"><img src="jiyoung_dev\img\log-out.png" width="25px" height="25px">로그아웃</a></li>
                                    <br><br>
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                 </div>
            <div class="content">
                <!--왼쪽 부분(nav)-->
                <div class="left_part">
                        <div class="row">
                            <div class="column">
                                <div class="about_us">
                                    <h1>헬스미 헬프미 :)</h1>
                                </div>
                            </div>
                            <div class="column">
                                <nav>
                                    <ul class="left_nav">
                                        <li class="left_nav_item">
                                            <a href="home.html">
                                                <!-- <img src="image/home.png" alt=""> -->
                                                 Home</a> <!--홈화면으로 href-->
                                        </li>
                                        <li class="left_nav_item">
                                            <a href="cate_trend.html">Category</a> <!--카테고리 화면으로 href-->
                                        </li>
                                        <li class="left_nav_item">
                                            <a href="schedule.html">Schedule</a> <!--스케쥴 화면으로 href-->
                                        </li>
                                        <li class="left_nav_item">
                                            <a href="setting.html">Setting</a> <!--설정 화면으로 href-->
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                </div>
                <!--오른쪽 부분-->
                <div class="right_part">
                    <!-- profile.help.setting 한번에 -->
                    <div class="section_set">
                        <ul>
                            <li class="on"><a href="section_set_profile.html">profile</a></li>
                            <li><a href="section_set_help.html">help</a></li>
                            <li><a href="section_set_setting.html">setting</a></li>
                        </ul>
                        
                    </div>
                    <!-- profile -->
                    <div class="profile" style="font-family:'a옛날목욕탕L'">
                        <div class="in_profile">
                            <h1>프로필수정하기(About)</h1>
                            <hr class="set_hr">
                                <div class="part" style="font-size: 25px; padding: 40px;">
                                    <span>Full name:</span>
                                    <input type="" value="Jiyoung" style="border: 4px solid #d1d7e8; width: 480px; height: 30px;"> 
                                </div> 
                                <div class="part" style="font-size: 25px; padding: 40px;">
                                        <span>Initials:</span>
                                        <input type="" value="J" style="border: 4px solid #d1d7e8; width: 480px; height: 30px;"> 
                                    </div> 
                                <div class="part" style="font-size: 25px; padding: 40px;">
                                    <span>User name:</span>
                                    <input type="" value="yesjiyoung" style="border: 4px solid #d1d7e8; width: 480px; height: 30px;"> 
                                    <br><br>
                                    <input type="button" value="수정하기" style="background:  #3c65be; border-radius: 30px; width: 130px; height:60px; border:0; outline: 0; font-size: 20px;">

                                </div> 
    
                        </div>
                        <div class="in_profile">
                            <h1>내 계정(Acoount))</h1>
                            <hr class="set_hr">
                                <div class="part" style="font-size: 25px; padding: 40px;">
                                    <span>Email-address</span>
                                    <input type="" value="rohjy77@likelion.org" style="border: 4px solid #d1d7e8; width: 480px; height: 30px;"> 
                                 </div> 



                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>