

/* 오른쪽 전체 파트 */
/* .right_part{
    display: flex;

    flex-direction: column;
    height: calc(100%-110px);
    width: 100%;
    margin: 15px 0 0 70px ;
    overflow-y: scroll;
} */
/* 끝 */
.gory{
    width: 100%;
}


#category_menu{
    height: 50px;
}

#category_menu ul {
    list-style: none;
}

#category_menu ul li{
    float:left;
    width:13.4%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background-color: rgb(65, 105, 225, 0.4);
    color: black;
    /* border: 2px solid #4169e1; */
    margin: 3px;
    border-radius: 30px;
}
/* 파랑색 클릭하면 찐해진다 */
#category_menu ul .top_on{
    background-color: #3c65be;
    color: white;
}

#category_menu li{
    text-decoration:none;
    color: black;
    font-size: 20px;
}









#bottom_category{
    height: 50px;
    display: flex;
    flex-direction : column;
}

#bottom_category ul {
    list-style: none;
}

#bottom_category ul li{
    float:left;
    width:10%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background-color: rgba(225, 65, 87, 0.4);
    color:black;
    /* border: 2px solid #4169e1; */
    margin: 3px;
    border-radius: 30px;
}

/* 핑크색 클릭하면 찐해진다 */
#bottom_category ul .sub_on{
    background-color: #da3b78;
    color: #fff;
}

#bottom_category li{
    text-decoration:none;
    color: black;
    font-size: 18px;
}
/*
#bottom_category li:hover{
    background-color: #da3b78;
    color: #fff;
} */

