

/* 오른쪽 전체 파트 */
.right_part{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* width: 900px; */
    height: calc(100%-110px);
    width: 100%;
    margin: 15px 0 0 70px ;
    padding-right: 70px;
    overflow-y: scroll;
}
/* 끝 */




/* .cate{
    margin: 10px 0; 
} */
.cate_name h3{
    padding:0 0 20px 0;
    margin: 0;
    font-size: 23px;
}
.cate_box{
    display: flex;
    align-items: center;
    /* display: inline-flex; */
}

#video{
    border : 1px solid lightslategray;
    margin-right: 10px;
    
}

.video_thumnail img {
    /* position: absolute; */
    height: 190px;
}

.video_title p{
    padding: 8px 10px 10px 10px;
    margin: 0;
}

/* PART0을 위한 CSS */

/* #video_big{
    border: 1px solid black;
    width:408.89px;
    margin-bottom: 20px;
} */
/* .video_thumnail_big img{
    height: 230px;
    width:408.89px;
} */

