.right_part{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* width: 900px; */
    height: calc(100%-110px);
    width: 100%;
    margin: 15px 0 0 70px ;
    padding-right: 70px;
    overflow-y: scroll;
}

.section_set{
    height: 71px;
}

.section_set ul {
    list-style: none;
    /* margin: 5px; */

}

.section_set ul li{
    float:left;
    width:13.4%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background-color: rgba(141, 155, 197, 0.4);
    color: #fff;
    /* border: 2px solid #4169e1; */
    margin: 3px;
}

.section_set ul .on{
    background-color: #3c65be;
    color: #fff;
}

.section_set a{
    text-decoration:none;
    color: black;
    font-size: 20px;
}

.section_set li:hover{
    background-color: #3c65be;
    color: #fff;
}

/* 프로필페이지 */
.profile{
    width: 100%;
    height: 100%;
    border: 5px solid rgba(141, 155, 197, 0.4);
    /* text-align: center; */
    padding: 20px;
    margin: 0px;
}

.in_profile{
    display: inline-block;
    width: 50%;
    margin: 0 auto; 
    /* text-align: center; */
    /* border: 2px dotted red; */

}

/* 설정페이지 */
.setting{
    width: 100%;
    height: 100%;
    border: 5px solid rgba(141, 155, 197, 0.4);
    /* text-align: center; */
    padding: 20px;
    margin: 0px;
}

.in_setting{
    display: inline-block;
    width: 50%;
    margin: 0 auto; 
    /* text-align: center; */
    /* border: 2px dotted red; */

}

/* 도움페이지 */
.help{
    width: 100%;
    height: 100%;
    border: 5px solid rgba(141, 155, 197, 0.4);
    /* text-align: center; */
    padding: 20px;
    margin: 0px;
}    

.in_help{
    display: inline-block;
    width: 70%;
    margin: 0 auto;  
    /* border: 2px dotted red; */

}


.set_hr{
    border: #3c65be solid 2px !important;
    width: 1050px;
}