.right_part{
    display: flex;
   
}
.main_video{
    display: flex;
    flex-direction: column;


}
.function{
    display: flex;
    border: 10px solid rgb(143, 195, 219);
    padding: 10px 10px;
    margin-right: 10px;
}

/* 오른쪽 전체 파트 */
.right_part{
    /* justify-content: center; */
    flex-direction: row;
    /* width: 900px; */
    height: calc(100%-110px);
    width: 100%;
    margin: 15px 0 0 70px ;
    overflow-y: scroll;
}
/* --> */

/* 메인비디오 파트 */
.main_video_info{
    width: 100%;
    display: flex;
}
.main_video_chan {
    flex:1;
    /* border: 1px solid black; */
}
.main_video_title{
    width: 682.86px;
    /* border: 1px solid black; */
}
.main_video_title p{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.heart{
    flex: 1;
    /* border: 1px solid black; */
}
.mypick{
    background: url(../image/heart.png) no-repeat;
    background-size:100%;
    background-position: center;
    width: 80px;
    height: 80px;
    border: 0;
    padding: 0;
    margin: 10px 26px;
}
/* --> */

.function{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}

.watch{    
    background-color: #8b79af;
    border-radius: 70px;
    margin-bottom:52px;
    padding: 0;
    border-radius: 1px solid black;
    
}
.watch table {
    /* background-color: #8b79af; 
    border-radius: 70px;  */
    width: 439px; 
    height: 160px;
}

td{
    padding: 0;
    margin: 0;
}

.timenum{
    display: flex;
    align-content: center; /* 세로에서 요소를 가운데 배치하겠다 */
    justify-content: center; /* 가로에서 요소를 가운데 배치하겠다 */
    font-size: 50px;
    color: white;
    padding-left: 30px;
    margin-bottom: 10px;
    height: 60px;
}
.num {
    margin: 0 20px 0 20px;
    padding: 0 auto;
    height: 80px;
    width: 60px;
    border: 0; 
    color: white;
    background: #8b79af;
    font-size:50px;
}

/* .watch_button{
    display: flex;
    align-content: center;
    justify-content: center;
}
.watch_button input{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 50px;
} */

.timer_but{
    justify-content: center;
    align-content: center;
    display: flex;
}
.timer_but td{
    padding: 0;
    margin: 0;
}
.timer_but input{
    margin: 0 15px;
}
.start{
    background: url(../image/play-button.png) no-repeat;
}
.pause{
    background: url(../image/pause.png) no-repeat;
}
.reset{
    background: url(../image/replay.png) no-repeat;
}
.save{
    background: url(../image/save.png) no-repeat;
}

.timer_button{                
    background-size: 100%; /* input 사이즈에 맞추어서 이미지 크기도 자동 조정되는 css코드 */
    background-position: center;
    width: 42px;
    height: 42px;
    border:0;             
    margin: 0;
    padding: 0;
}
/* 끝 */

/* 캘린더 */
.calendar-container {
    border: 1px solid black;
    padding: 30px;
}